<%-include('../partials/admin/Head'); -%>
<%-include('../partials/client/header');-%>
<% result.articles.rows.forEach(article=> {%>
    <h2><%-article.title%> </h2>
    <div class="container mx-auto max-w-3xl">
        <%-article.body%>
    </div>
    <div class="container mx-auto max-w-5xl">
     <%if(result.page > 1) {%>
        <a class="float-left" href="/article/page/<%= result.page - 1%>"> <<< Prev </a>
     <%} else if(result.page === 1) {%>
        <a href="/"> <<< Prev</a>
     <%}%>
        <%if(result.next) {%>
            <a class="float-right" href="/article/page/<%=result.page + 1%>">Next >>> </a>
        <%}%>   
    </div>
<%})%>

<%-include('../partials/admin/Footer'); -%>