<%-include('../../partials/admin/Head');-%>
<%-include('../header'); %>
<table class="mt-10 table-auto max-w-5xl border-spacing-5 mx-auto border-collapse border rounded-xl border-slate-500 px-4 py-4">
    <caption class="bg-slate-200 py-3 caption-top text-xs">
        Tabela artigos: Contém todos os artigos do blog
      </caption>
    <thead>
        <tr class="bg-slate-500">
            <th class="border border-slate-400 px-4 py-1">Id</th>
            <th class="border border-slate-400 px-4 py-1">Título</th>
            <th class="border border-slate-400 px-4 py-1">Categoria</th>
            <th class="border border-slate-400 px-4 py-1">Slug</th>
            <th class="border border-slate-400 px-4 py-1">Ações</th>
        </tr>
    </thead>
    <tbody>
        <%contents.forEach(article => {%>
        <tr>
        <td class="border border-slate-400 px-4 py-1"><%= article.id %></td>
        <td class="border border-slate-400 px-4 py-1"><%= article.title %></td>
        <%if(article.categorie) {%>
         <td class="border border-slate-400 px-4 py-1"><%= article.categorie.title %></td>
        <%} else {%>
        <td class="border border-slate-400 px-4 py-1">Categoria não definida</td>
        <%}%>
        <td class="border border-slate-400 px-4 py-1"><%= article.slug %></td>
        <td class="flex justify-center items-center border border-slate-400 px-4 py-1">

            <a href="/article/edit/<%=article.id %>" class="mx-2 rounded-2xl border-slate-400 px-4 py-1 bg-orange-600">Editar</a>
            <form class="inline" action="/article/delete" method="post">
                <input type="hidden" name="id" value="<%=article.id%>">
            <button class="rounded-2xl border-slate-400 px-4 py-1  bg-red-700">Apagar</button>
           </form>
        </td>
        </tr>
        <%})%>
    </tbody>
</table>
<%-include('../../partials/admin/Footer'); -%>